#SearchOptions {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 0 40px;
}

.SearchOptions {
    display: inline-block;
    background: #ffffff;
    width: 220px;
    overflow: hidden;
    border-radius: 11px;
}

.SearchOptionsTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.SearchOptionsArrow {
    padding: 0 16px;
}

.SearchOptionsTitle {
    padding: 20px 16px;
    border-radius: 11px;
}

.SearchOptionsElements {
    height: 315px;
    border-radius: 11px;
    /*overflow: auto;*/
}

.SearchOptionsElements > div:hover {
    background: #FFD15B;
    cursor: pointer;
}

.Hidden {
    display: none;
    position: absolute;
    z-index: -1;
}

.SearchOptionsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0 12px 0;
}

.SearchOptionsContainer > input[type=text] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px #C6C6C6 solid;
}

.SearchOptionsContainer > input[type=text]:focus {
    outline: none;
}

.SearchOptionsItem {
    padding: 5px 20px;
}

.SearchOptionsSearchLabel {
    position: absolute;
    right: 15%;
    width: 24px;
    height: 24px;
}

.SearchOptionsSearchLabel > svg {
    width: 24px;
    height: 24px;
    color: #C6C6C6;
}

.SearchOptionsArrow {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}

.Rotate {
    transform: rotate(0);
    transition: all 300ms ease-in-out;
}
